{% extends 'base.html.twig' %}

{% block title %}Hello FAQController!
{% endblock %}

{% block body %}
    <div class="container mt-3 d-flex">
        <div class="justify-content-center">
            <h1 class="text-center mb-3">
                <b>F</b>requently
                <b>A</b>sked
                <b>Q</b>uestions
            </h1>
            <hr/>

            <div class="container mt-3">
                <div class="row mt-3">
                    <div class="bg-light rounded mb-2 mr-2 pt-2">           
                        <p class="h5">
                            <b>Q. </b>
                            How important are calories?
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                The buzz word of any diet or weight loss programme is usually calories. 
                                Essentially calories is the numeric measurement by which we calculate how much we eat 
                                and what we need or not need to eat to lose weight or gain weight.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="bg-light rounded mb-2 mr-2 pt-2">           
                        <p class="h5">
                            <b>Q. </b>
                            How many meals should you eat in a day?
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                Ideally you should aim to eat around <b>five smaller meals a day</b> to <b>maximise weight loss</b>, 
                                as these more frequent but smaller meals will encourage your metabolism to keep burning efficiently, 
                                control hunger and cravings.
                                Five meals may not be ideal for your lifestyle or hunger pattern, 
                                so it is best to devise an <b>eating plan</b> that works best for you.
                                <br>
                                <br>
                                Consuming <b>large quantities</b> in contrast will increase the supply and is <b>great for gaining weight</b>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="bg-light rounded mb-2 mr-2 pt-2">           
                        <p class="h5">
                            <b>Q. </b>
                            Does skipping meals help in weight loss?
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                No! There are a number of reasons. 
                                Many people assume that if you skip a meal you consume less calories and more fat is burned, that is not true. <br>
                                Firstly your hunger is likely to increase, meaning you will try to compensate for the food you missed earlier.<br>
                                Secondly depriving your body of fuel causes it to revert to a <b>state of starvation</b>, 
                                making it store any food you do consume as fat and <b>burn muscle instead</b>.
                                <br><br>
                                <b>If possible don't skip any meals!</b>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="bg-light rounded mb-2 mr-2 pt-2">           
                        <p class="h5">
                            <b>Q. </b>
                            Can you lose weight without exercising?
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                Yes! Weight loss at its basic level boils down to calories, 
                                how much we eat and use, and so <b>you can lose weight without having to exercise</b> purely by changing your diet.
                                However, <b>exercising significantly benefits you</b> when trying <b>to lose weight</b> as a session at the gym, 
                                going for a run or even doing exercises in your living room <b>burns a much higher yield of calories</b> than just day to day living.
                                The more <b>calories burnt</b>, the more fat is used up and <b>more weight lost</b>, 
                                serves as the fundamental importance of exercising when trying to lose weight. 
                                Along with building up strength, flexibility, fitness and general health, exercise is an ideal way to lose weight.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

