{% extends 'base.html.twig' %}

{% block title %}New Meal{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="card shadow">
                <div class="card-body">
                    <h1>Create new Meal</h1>

                    {{ form(form) }}

                    <a href="{{ path('app_meal_index') }}" class="btn btn-secondary">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
