{% extends 'base.html.twig' %}

{% block title %}Hello PolicyController!{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h1>Datenschutzbedingungen f&uuml;r die Nutzung der Fitness-App</h1>

                    <p>Letzte Aktualisierung: 06. Dezember 2023</p>

                    <p>Wir freuen uns, dass Sie unsere Fitness-App nutzen! Ihre Privatsph&auml;re ist uns wichtig, daher m&ouml;chten
                        wir Ihnen im Folgenden erl&auml;utern, welche Daten wir sammeln, wie wir sie verwenden und sch&uuml;tzen.</p>

                    <h2>1. Datensammlung</h2>

                    <h3>1.1 Benutzerkonto</h3>

                    <p>Um die volle Funktionalit&auml;t der App zu nutzen, m&uuml;ssen Sie ein Benutzerkonto erstellen. Wir sammeln die
                        folgenden Informationen:</p>

                    <ul>
                        <li>Name</li>
                        <li>E-Mail-Adresse</li>
                        <li>Geschlecht</li>
                        <li>Geburtsdatum</li>
                        <li>Gewicht, Gr&ouml;&szlig;e und andere relevante Fitnessdaten</li>
                    </ul>

                    <h3>1.2 Fitnessdaten</h3>

                    <p>Die App zeichnet Trainingsdaten, Fortschritte und andere Fitnessmetriken auf, um Ihnen personalisierte Einblicke
                        und Empfehlungen zu bieten.</p>

                    <h3>1.3 Ger&auml;teinformationen</h3>

                    <p>Wir sammeln Informationen &uuml;ber Ihr Mobilger&auml;t, um die Kompatibilit&auml;t und Leistung der App zu
                        verbessern.</p>

                    <h2>2. Datenverwendung</h2>

                    <p>Wir verwenden Ihre Daten f&uuml;r folgende Zwecke:</p>

                    <ul>
                        <li>Bereitstellung und Personalisierung von Dienstleistungen</li>
                        <li>Analyse von Nutzungsdaten zur Verbesserung der App</li>
                        <li>Kommunikation &uuml;ber App-Updates, Neuigkeiten und spezielle Angebote</li>
                    </ul>

                    <h2>3. Datensicherheit</h2>

                    <p>Wir setzen angemessene Sicherheitsma&szlig;nahmen ein, um Ihre Daten vor unbefugtem Zugriff, Verlust oder
                        Manipulation zu sch&uuml;tzen.</p>

                    <h2>4. Datenweitergabe</h2>

                    <p>Wir geben Ihre pers&ouml;nlichen Daten nicht ohne Ihre Zustimmung an Dritte weiter, es sei denn, dies ist
                        gesetzlich erforderlich.</p>

                    <h2>5. Cookies und Tracking</h2>

                    <p>Die App verwendet Cookies und &auml;hnliche Technologien, um die Nutzung zu analysieren und die Benutzererfahrung
                        zu verbessern.</p>

                    <h2>6. Rechte des Nutzers</h2>

                    <p>Sie haben das Recht, auf Ihre gespeicherten Daten zuzugreifen, sie zu korrigieren oder zu l&ouml;schen.
                        Kontaktieren Sie uns dazu unter info@stayfit.test.</p>

                    <h2>7. &Auml;nderungen der Datenschutzbedingungen</h2>

                    <p>Wir behalten uns das Recht vor, diese Datenschutzbedingungen zu aktualisieren. &Uuml;ber wesentliche &Auml;nderungen
                        werden Sie benachrichtigt.</p>

                    <h2>8. Kontaktinformationen</h2>

                    <p>Bei Fragen oder Bedenken zum Datenschutz kontaktieren Sie uns bitte unter info@stayfit.test.</p>


                </div>
            </div>
        </div>
    </div>


{% endblock %}
